<html>

	<head>
		<link rel="stylesheet" type="text/css" href="/static/css/user.css"/>
	</head>

	<body>
		<script src="/static/js/user.js"/></script>
		<div class="center" id="login_form"></div>
		
		<script>
			var loginForm = getInputForm( {
				sendText: "Zaloguj",
				id: "loginForm",
				actionPage: "login",
				fields: {
					login: {prompt: "Login:"},
					password: {prompt: "Hasło:",isPassword: true}
				}
			} );
		
			document.getElementById("login_form").appendChild(loginForm);
		</script>
		
	</body>

</html>
