<html>

	<head>
		<link rel="stylesheet" type="text/css" href="user.css"/>
	</head>

	<body>
		<script src="user.js"/></script>
		<div class="center" id="login_form"></div>
		
		<script>
			var loginForm = getInputForm( {
				sendText: "Zarejestruj",
				actionPage: "login.html",
				fields: {
					login: {prompt: "Login:"},
					password: {prompt: "Has≥o:",isPassword: true},
					verify_password: {prompt: "Potwierdü has≥o:",isPassword: true},
					email: {prompt: "E-mail:"}
				}
			} );
		
			document.getElementById("login_form").appendChild(loginForm);
		</script>
		
	</body>

</html>
